@tailwind base;
@tailwind components;
@tailwind utilities;

/* Adicione isto para a rolagem suave da One Page */
html {
  scroll-behavior: smooth;
}

body {
  @apply bg-slate-50 text-slate-800 font-sans antialiased;
}